
body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

/* DisplayBalance component styles */
.display-balance-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #F4F6F8;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-line {
  display: block;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-gap{
  line-height: 4vh;
}

.display-balance-form {
  display: flex;
  flex-direction: column;
}

.display-balance-input {
  margin-bottom: 15px;
}

.display-balance-submit {
  margin-top: 15px;
  display: block;
  float:left;
  padding: 10px 15px;
  border: none;
  border-radius: 50px; 
  background-color: #31C1BF; 
  color: white; 
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.display-balance-submit:hover{
  background-color: #31C1BF;
}

.display-balance-balance {
  margin-top: 20px;
  font-size: 18px;
}

.center-text-container-display {
  text-align: center;
  height: 5vh;
  line-height: 10vh; 
}

.additional-container{
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #F4F6F8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* TransferTokens component styles */

.center-text-container-transfer {
  text-align: center;
  height: 5vh; 
  line-height: 10vh; 
}

.transfer-tokens-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #F4F6F8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transfer-tokens-form {
  display: flex;
  flex-direction: column;
}

.transfer-tokens-input {
  margin-bottom: 15px;
}

.transfer-tokens-submit {
  margin-top: 15px;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; 
  background-color: #31C1BF; 
  color: white; 
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transfer-tokens-submit:hover{
  background-color: #31C1BF;
}

.transfer-tokens-error {
  margin-top: 15px;
  color: #ff0000;
}

